@model IEnumerable<gestorTarefas.Models.LinhaTarefa>

@{
    ViewData["Title"] = "Index";
}

<h3>Linhas da Tarefa</h3>


@{
    foreach (var item in ViewBag.TAREFA)
    {
        <p><b>Assunto:</b> @item.Descricao </p> 
        <p><b>Data Limite: </b> @item.DataLimite.ToString("dd-MM-yyyy")</p>
        <p><b>Cliente:</b> @item.Cliente.Nome</p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFuncionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>  
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFuncionario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>  
                </td>
            </tr>
        } 
    </tbody>
</table>

<a asp-action="Create" asp-route-id=@ViewBag.ID>Adicionar linha de tarefa</a>